.dashboarditem-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.dashboarditem-mid-image {
  margin-top: 50px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboarditem-mid-image img {
  width: 70%;
  margin: auto;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 1px 1px 5px #e3a0e8;
  background-color: white;
}
.dashboarditem-mid-details {
  display: flex;
  justify-content: space-between;
  width: 70%;
  border-radius: 0px 0px 10px 10px;
  background-color: #b267f5;
  box-shadow: 1px 1px 5px #e3a0e8;
}
.dashboarditem-mid-det {
  display: flex;
  flex-direction: column;
  margin: 15px;
  color: #fff;
  width: 77%;
}
.dashboarditem-mid-det div {
  display: flex;
  margin: 3px 0px;
}
.dashboarditem-mid-det div p {
  margin-left: 10px;
  text-transform: capitalize;
  word-wrap: break-word;
  width: 100px;
}
.dashboarditem-mid-det div .i {
  margin-left: 0px;
  text-align: center;
}
.dashboarditem-delete {
  margin: 30px auto;
  cursor: pointer;
}

.artist-comment {
  width: 70%;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artist-comment h2 {
  text-align: center;
  margin: 10px;
}

.artist-comment .comment-comment {
  width: 100%;
  margin: 20px auto;
  overflow: auto;
}

.artist-comment .comment-comment p,
.artist-comment .comment-comment h4 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-transform: capitalize;
  margin-bottom: 3px;
}
.artist-comment .comment-comment .comment-div {
  border-bottom: 0.5px solid #cececed2;
  width: 90%;
  padding: 15px 0;
  margin: auto;
}
.artist-comment .comment-input {
  width: 100%;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.artist-comment input {
  width: 80%;
  margin: 20px;
}
@media only screen and (max-width: 1200px) {
  .dashboarditem-mid-image {
    width: 60%;
  }
}
@media only screen and (max-width: 900px) {
  .dashboarditem-mid-image {
    width: 70%;
  }
}
@media only screen and (max-width: 750px) {
  .dashboarditem-mid-image {
    width: 78%;
  }
}
@media only screen and (max-width: 620px) {
  .dashboarditem-mid-image {
    width: 85%;
  }
  .dashboarditem-mid-det div p {
    font-size: 14px;
  }
  .dashboarditem-mid-det div h4 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 520px) {
  .dashboarditem-mid-det {
    margin: 10px;
  }
  .dashboarditem-mid-image {
    width: 100%;
  }
  .dashboarditem-mid-det div p {
    font-size: 12px;
    margin-left: 0px;
  }

  .dashboarditem-mid-det div h4 {
    font-size: 14px;
  }
  .dashboarditem-mid-det .i {
    font-size: 12px;
  }
  .artist-comment {
    width: 100%;
  }
  .artist-comment .comment-comment p,
  .artist-comment .comment-comment h4 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 400px) {
  .dashboarditem-mid-image img {
    width: 85%;
  }
  .dashboarditem-mid-details {
    width: 85%;
  }
  .dashboarditem-mid-det div p {
    font-size: 12px;
    margin-left: 7px;
  }
  .dashboarditem-mid-det div h4 {
    font-size: 11px;
  }
  .dashboarditem-mid-det {
    margin: 8px;
  }
  .dashboarditem-delete {
    margin: 10px;
  }
  .dashboarditem-mid-det div {
    justify-content: start;
  }
}
