* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 1px;
}
*::-webkit-scrollbar {
  width: 9px;
}
*::-webkit-scrollbar-track {
  background: #fff;
}
*::-webkit-scrollbar-thumb {
  background-color: #6b3fb2;
  border-radius: 20px;
  border: 3px solid #fff;
}
.App {
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  background-color: #6b3fb2;
  position: fixed;
  color: white;
  z-index: 2;
}
.nav .nav-ul {
  display: flex;
  list-style-type: none;
  width: 50%;
}
.nav .nav-ul li {
  width: 50%;
  text-align: center;
}
.nav .nav-ul li .nav-links {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}
.nav .nav-ul li .nav-links:hover,
.nav .nav-ul li .nav-links:active {
  color: #e1bdeb;
  font-weight: bold;
  transition: all ease 0.5s;
}
.sidebar {
  background-color: #b267f5;
  position: fixed;
  left: 0px;
  height: 100%;
  width: 60px;
  transition: 0.5s;
  transition-property: width;
  z-index: 4;
}
#check:checked ~ .sidebar {
  left: 0px;
  width: 250px;
}
.sidebar h2 {
  margin-top: 10px;
  color: #d0d0d0;
}
.sidebar h3 {
  color: white;
}
.sidebar p {
  color: white;
  margin-top: 6px;
}
.sidebar center {
  margin: 50px 0 100px 0;
  position: relative;
  left: -400px;
  transition: 0.5s;
  transition-property: left;
}
#check:checked ~ .sidebar center {
  left: 0px;
}
.sidebar img {
  width: 110px;
  height: 110px;
  border-radius: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#check {
  display: none;
}
.sidebar li {
  list-style-type: none;
  padding-left: 20px;
  font-size: 20px;
  line-height: 40px;
  color: white;
  height: 40px;
}
#check:checked ~ .sidebar .nav-class {
  display: flex;
  align-items: center;
}
#check:checked ~ .sidebar li {
  margin-left: 0px;
  width: 100%;
  padding-left: 40px;
}

.sidebar li:hover {
  background-color: #bf30e9;
}

.sidebar .back {
  background-color: #bf30e9;
}
.sidebar li span {
  position: relative;
  left: -170px;
  transition: 0.5s;
  transition-property: left;
  margin-left: 20px;
  font-size: 16px;
  overflow: hidden;
}
#check:checked ~ .sidebar li span {
  left: 0;
}
.menu-icon {
  display: none;
}
.sidebar label #side-btn {
  color: #fff;
  transition: 0.5;
  transition-property: color;
}

.sidebar label #side-btn :hover {
  color: #e3a0e8;
}

.sidebar label {
  top: 20px;
  left: 20px;
  width: 80px;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}
#check:checked ~ .sidebar label {
  margin-left: 0px;
}
.content {
  margin-left: 60px;
  background-image: url("./images/37.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: auto;
}
.main-div-container {
  background-image: url("./images/38.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media only screen and (max-width: 700px) {
  .content {
    background-image: url("./images/36.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 960px) {
  .nav .nav-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 73px;
    left: -100%;
    opacity: 1;
    transition: all ease 0.5s;
  }
  .nav .nav-ul.active {
    background-color: #6b3fb2;
    left: 0;
    opacity: 1;
    transition: all ease 0.5s;
    z-index: 1;
  }
  .menu-icon {
    display: block;
  }
  .nav .nav-ul li {
    width: 100%;
  }
  .nav .nav-ul li .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 16px;
  }
}
